body{
    background-image: url(./登録背景.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    color: purple;
}
button{
    color:darkgoldenrod;
    background-color:gold;
}