@charset "utf-8";

/* Body */
body {
    background-image: url(./背景１.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0; /* ボディ全体のマージンをリセット */
    padding: 0; /* ボディ全体のパディングをリセット */
}

body a,
footer a,
header a,
teacher a {
    color: gold;
}

/* fade-in setting*/
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}

/* Header */
header {
    margin: 0; /* ヘッダーのマージンをリセット */
    padding: 0; /* ヘッダーのパディングをリセット */
    background-color: rgb(216, 250, 255); /* 背景色を白に設定 */
    color: gold;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: rgb(35, 5, 69);
}

header nav ul.navigation {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

header nav ul.navigation li {
    margin: 0 15px;
}

header nav ul.navigation li a:hover {
    text-decoration: underline;
}

/* Elements */
h1 {
    color: white;
}

h2, h3, p {
    color: rgb(0, 255, 170);
}

.school {
    color: rgb(14, 9, 43);
}

#home {
    color: #340069;
}

.logo {
    height: 40px;
    width: auto;
}

/* Footer */
footer {
    background-color: #003366;
    color: gold;
    background-color: #003366;
    color: gold;
    margin: 0; /* フッターのマージンをリセット */
    padding: 0; /* フッターのパディングをリセット */
    width: 100%; /* フッターの幅を100%に設定 */
    box-sizing: border-box; /* パディングとボーダーを含める */
}

footer a {
    color: rgb(0, 255, 170);
}

/* Teacher */
teacher a {
    color: rgb(0, 247, 255);
}

/* Back to top button */
#top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#top:hover {
    background-color: #333;
}

/* Button */
button {
    padding: 10px;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
